* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.nav-img {
    background-image: url("../images/olives1.JPG");
    background-position: center;
    min-height: 325px;
}