* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
}

body {
    background-color: beige;
}

.img {
    background-image: url("../images/olives1.JPG");
    display: flex;;
    justify-content: center;
    align-items: center;
    height: 20em;
    padding-bottom: 20%;
}

/**
TODO
 - Bæta við kúrvu og border utan um navbar listann.
**/