* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  padding-bottom: 0em;
  padding-left: 5em;
  padding-right: 10em;
  overflow: hidden;  /**til að bakgrunnurinn flæði ekki út**/
}

.img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/olives1.JPG");
  background-size: cover;
  background-position: center;
  opacity: 0.65;  /*---  stilltu eftir smekk*/
  z-index: 0;
  
}

.navbar a:hover {
  font-size: larger;         /* Extra feitt */
  font-weight: bolder;
  text-decoration: underline; /* Undirstrikun */
  color: #2e2e2e;           /* Valfrjálst – aðeins dekkri litur */
  cursor: pointer;          /* Sýnir að þetta er smella */
}

.navbar-container {
  position: relative;
  z-index: 1;
}

.navbar {
    width: 100%;   
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}


l {
    font-size: x-large;
    font-weight: 900;
}

/**
TODO
 - Bæta við kúrvu og border utan um navbar listann.
**/