<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLIVA DE LA ROSA</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
  <div class="navbar-container">
    <nav class="navbar">
      <ul>
        <l><a href="index.html">Home</a></l>
        <l><a href="products.html">Products</a></l>
        <l><a href="about.html">About us</a></l>
        <l><a href="contact.html">Contact us</a></l>
      </ul>
    </nav>
  </div>

  <div>
    <p>Um vörurnar okkar</p>
  </div>
</body>
</html>