<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLIVA DE LA ROSA</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
  <nav>
    <div class="img">
      <div class="navbar-container">
        <div class="navbar">
          <ul>
            <l><a href="index.html">Home</a></l>
            <l><a href="products.html">Products</a></l>
            <l><a href="about.html">About us</a></l>
            <l><a href="contact.html">Contact us</a></l>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  <div>

  <h1>Contact us</h1>
  <form target="_blank" action="https://formsubmit.co/rdlr90@gmail.com" method="POST">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input type="text" name="name" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="col">
          <input type="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
  </form>

  </div>
</body>
</html>